*{
    margin: 0;
    padding: 0;

}
body{
    background:linear-gradient(To left,pink,blue);
    
}
.head{
    width: 97vw;
    height: 100px;
    align-items: center;
    justify-content: center;
    color:aqua;
    font-size: 30px;
    display: flex;
    border:2px solid rgb(29, 7, 65);
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(100px);
    border-radius: 20px;

}
.main{
    display: flex;
    animation-name:blink ;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink{
    50%{
        border-color:lightslategray;
    }
}
.wrapper{
    
    text-align: center;
    width: 500px;
    height: 400px;
    margin: 100px auto;

}
.a{
    width: 150px;
    height: 50px;
    margin-left: 1px;
    background-color: white;
    color: black;
    font-size: 25px;
    }
.b{
    width: 150px;
    height: 50px;
    margin-left: 150px;
    background-color: white;
    color: black;
    font-size: 25px;

}
.c{
    width: 150px;
    height: 50px;
    margin-left: 300px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 25px;

}
.d{
    width: 100px;
    height: 50px;
    margin-top: 80px;
    background-color: rgb(78, 15, 15);
    color: black;
    text-align: center;
    font-size: 15px;

}
.contant{
    margin-top:50px ;
    width: 350px;
    height: 10vh;
    position: relative;
    text-decoration: none;
    
}


.al{
   padding-top: 150px;
}
button{
    background-color: aquamarine;
    width: 100px;
    height: 40px;
}
select{
    width: 150;
    height: 30px;
}
p{
    color: rgb(216, 202, 215);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}